---
layout: null
permalink: /feed/index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en-GB">
<head>
<meta charset="utf-8" />
<title>Feed moved</title>
<link rel="canonical" href="{{ site.url }}/feed.xml" />
<meta http-equiv="refresh" content="0; url=/feed.xml" />
</head>
<body><p><a href="/feed.xml">The feed has moved to /feed.xml</a></p></body>
</html>
