---
layout: null
eleventyExcludeFromCollections: true
pagination:
  data: redirectList
  size: 1
  alias: r
permalink: "{{ r.from }}index.html"
---
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Moved</title>
<link rel="canonical" href="{{ r.to }}" />
<meta name="robots" content="noindex" />
<meta http-equiv="refresh" content="0; url={{ r.to }}" />
</head>
<body>
<p>This post has moved to <a href="{{ r.to }}">{{ r.to }}</a>.</p>
<script>location.replace("{{ r.to }}");</script>
</body>
</html>
